#bodyColor{
  background-color:#6DA398;
}

.divListStyle{

margin-top: 40px;
margin-left: 20%;

}

.divSeperator{
  margin-top: 20px;
}

.divWidth {
  width: 50%;
}
#textColor{
  
  font-style: italic;

}
