@media only screen and (max-width: 650px){
  .divWidth{
    width : 80%;
  }
}

#signoutBtn {
  padding: 0px;
}

#bodyColor{
  background-color:#cccccc;
}

.divListStyle{

margin-top: 40px;
margin-left: 20%;

}

.divSeperator{
  margin-top: 20px;
}

@media only screen and (min-width: 651px){
.divWidth {
  width: 40%;
}
}
#textColor{

  font-style: italic;

}
.divColorTutorial{
 background-color: #212529;
 color: white;
}
