body{
  font-size: 15px;
  background-color:#cccccc;
}

#registerBody {
  margin-left:2%;
  margin-right:2%;
}

h2{
  text-align: center;

}
p{
  text-align: left;
  margin-left:1%;
  font-weight: bold;

}
